<!doctype html>
<html lang="en">
  <head>
    <title>Milan Cubic - {{ page.title }}</title>
    <script>
      setTimeout(function(){
        ws = new WebSocket('ws://localhost:35353')
        ws.onopen = function(){ws.onclose = function(){document.location.reload()}}
      }, 500)
    </script>

    <meta charset="UTF-8" />
    <meta name="author" lang="hr" content="Ivana Vasilj, dev@ivana.im" />
    <!--<meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no"> -->
    <!--<meta name="viewport" content="width=device-width" /> -->

    <link href="site.css" rel="stylesheet" type="text/css" />

    <script src="http://use.typekit.net/slj1kyc.js" type="text/javascript"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  {{ content }}
</html>
